/*
    TODO
    -   add signature overlay to profle image
    -   add dropdown menu to profile page with resume, etc.
    -   refactor css
    -   make hover effect align with text lignment/change link style for profile links
    -   generalize profile page
*/



html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: Montserrat;
    font-size: 18px;
    width: 100vw;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer {
    padding: 25px;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    bottom: 0;
    width: 100vw
}

.icon {
    padding: 0;
    margin: 0;
}

.header-profile {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-top: 25vh;
}

.hero {
    background-image: linear-gradient(130deg, rgba(11, 135, 147, 0.75), rgba(54, 0, 51, 0.75)), url('hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    color: white;
    font-size: 48px;
    margin-left: 10vw;
    margin-top: 15vh;
    margin-bottom: 2vh;
    text-transform: lowercase;
}

.hero-container {
    margin-left: 10vw;
    display: inline-block;
}

.hero-container-center,
.hero-container-name {
    display: inline-block;
}

.hero-buttons,
.hero-buttons-profile
.hero-icons {
    font-size: 18px;
    margin: 0px;
    padding: 5px;
    text-transform: lowercase;
    display: inline-block;
}

.hero-icons {
    display: inline-block;
}

.hero-buttons-profile,
.hero-icons {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hero-container:hover .hero-buttons,
.hero-container-center:hover .hero-buttons-profile,
.hero-container-center:hover .hero-buttons,
.hero-container-center:hover .icon,
.hero-container-name:hover .hero-buttons {
    opacity: 0.2;
    filter: blur(1px);
    transition: 0.5s;
    transform-origin: left;
}

.hero-container .hero-buttons:hover,
.hero-container-center .hero-buttons-profile:hover,
.hero-container-center .hero-buttons:hover,
.hero-container-center .icon:hover,
.hero-container-name .hero-buttons:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1.5);
    transition: 0.5s;
    transform-origin: center;
}

.hero-container .hero-buttons:hover,
.hero-container-center .hero-buttons-profile:hover,
.hero-container-center .hero-buttons:hover,
.hero-container-name .hero-buttons:hover {
    border-radius: 3px;
    background-color: rgba(33, 68, 99, 0.5);
}

.hero-links {
    color: white;
    display: inline-block;
}

.profile-image {
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    height: 220px;
    width: 220px;
    filter: grayscale(100%);
}

.profile-holder {
    display: inline-block;
    border-radius: 5px;
    height: 220px;
    /*background-color: white;*/
    margin: 5px;
    margin-top: 0px;
    padding-left: 55px;
    padding-right: 55px;
}

.header, .name {
    font-size: 28px;
    margin: 1em 0;
}

.hero-subtitle-center {
    color: white;
    background-color: rgba(33, 68, 99, 0.5);
    border-radius: 3px;
    font-size: 27px;
    margin-left: 0px;
    padding: 7.5px;
    padding-left: 100px;
    padding-right: 100px;
    display: inline-block;
};

.title {
    font-size: 48px;
    margin: 0.5em 0;
}

.hero-title-center {
    font-size: 48px;
    margin: 0.5em 0;
    color: white;
    text-transform: lowercase;
}

.hero-buttons-profile,
.hero-icons {
    padding-left: 0;
}

.hero-buttons-profile:hover {
    padding-left: 5px;
}

.hero-name-center {
    font-size: 34px;
    margin: 0.5em 0;
    color: white;
    margin-top: 17px;
    margin-bottom: 13px;
}

#contact-links,
#contact-links-buttons {
    display: block;
    width: fit-content;
}

.icon {
    height: 18px;
}

a {
    color: black;
    text-decoration: none;
}

@media only screen and (max-device-width: 480px) {
    .body {
        width: auto;
        height: auto;
    }
    
    .header-profile {
        display: block;
        padding-top: 10vw;
        padding-bottom: 5px;
        text-align: center;
    }

    .hero-buttons-profile {
        margin: auto;
    }

    .profile-image {
        width: 80vw;
        height: 80vw;
    }

    .profile-holder {
        width: 70vw;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-left: 0;
        margin-right: 0;
        display: inline-block;
        height: auto;
    }

    .hero-name-center {
        margin-top: 0;
        font-size: 25px;
    }

    .hero-container-center,
    .hero-buttons {
        margin: auto;
    }

    .hero-subtitle-center {
        margin-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
        width: 80vw;
        text-align: center;
    }

    .profile-holder {
        padding-left: 0;
        padding-right: 0;
        width: 80vw
    }
}