@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;900&display=swap');

body {
    height: 100vh;
    color: white;
    background-image: linear-gradient(130deg, rgba(11, 135, 147, 0.75), rgba(54, 0, 51, 0.75))/*, url('bg.jpeg')*/ ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    font-size: 48px;
}

.link {
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
    width: 30%;
    text-align: center;
    /*text-transform: lowercase;*/
}

div,
p {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

